<style>
.AboutText{ margin-top: -3rem;}
#AboutTextH1 {color: black;}
#AboutTextp {color: #606060;}
.bildePrint{
  width: 50px;
}
</style>

    <!-- Tabulas Tabulas izdruka -->
<!-- <div class='printMe' id='printMe'>  -->
<main class="mt-5">
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                <img src="img/AboutPic1.jpg" class="img-fluid" />
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
            <div class="col-md-6 gx-5 mb-4 text-dark">
              <h4><strong>Par Mums</strong></h4>
              <p class="text-muted">
              Autocentrs DP Autoserviss ir dibināts 2020. gadā un kopš dibināšanas izaudzis par lielu, pieredzējušu un uzticamu servisa sniedzēju. Pie mums iespējams veikt jebkuras sarežģītības remontus: sākot no dzinēja kapitālā remonta, līdz pat virsbūves atjaunošanai pēc avārijas. Nodrošinām arī plašu citu pakalpojumu klāstu: riepu glabāšanu, auto nomu, CSDD apskates iziešanu Jūsu vietā u.c. pakalpojumus.
             
              </p>
            </div>
          </div>
        </section>
      </div>

      <div class="container">
        <!--Section: Content-->
        <section>
          <div class="row">
          <div class="col-md-6 gx-5 mb-4">
              <p class="text-muted">
              Mūsu autocentrā strādā tikai sertificēti meistari ar daudzu gadu pieredzi, kas mūsu klientiem garantē vienmēr profesionālu un kvalitatīvu servisu. Darbu kvalitāti labi apliecina mūsu plašais pastāvīgo klientu loks, kā arī fakts, ka daudzi Latvijā zināmi uzņēmumi savu autoparku tehnisko apkalpošanu uzticējuši tieši mums.             
              </p>
              <p class="text-muted">
              Neatkarīgi no tā, vai esat privātpersona vai uzņēmuma īpašnieks, pie DP Autoserviss Jūsu automašīnai tiks nodrošināts labākais serviss, kāds pieejams!             </p>
            </div>
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                <img src="img/AboutPic2.jpg" class="img-fluid"/>
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
                  
          </div>
        </section>
        
      </div>
  </main>
</div>  
          <!-- Tabulas izdrukas poga -->
          <!-- <button class="btn btn-outline-primary" onclick="printDiv('printMe')">Printēt pieteikumu</button> -->
          <!-- <img src="img/print-button.png" onclick="printDiv('printMe')" class="bildePrint"/> -->