<!-- <div id="canva"></div> -->

<!-- Kajene -->

<footer class=" text-center text-white" style="background-color:#3b3b3b;" style="z-index: 2;">
<!-- <div id="canva"></div> -->
<img src="img/svg-path.svg" alt="triangle" srcset="img/svg-path.svg" style="background-color: rgb(239, 237, 232);">

<div class="container-fluid" id="section3" >
<h1 class="text-center text-white"style="position: relative;">Kontakti</h1>
</div>

  <div class="container p-4">

    <div class="row">

      <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <div id="text-4" class="footer-widget widget_text clr"><h4 class="widget-title">Kur mēs atrodamies?</h4>
        <p><i class="bi bi-geo-alt"></i> Cēsis, Robežu iela 6 (29 boks)</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-7 mb-4 mb-md-0 ">
      <div id="text-4" class="footer-widget widget_text clr text-lg-left text-xl-left text-md-left">
        <h4 class="widget-title">Kontaktinformācija</h4>			
          <div class="textwidget colorWhite">
          <h6><i class="bi bi-phone-vibrate"></i> Tel:</h6>
          <p><a href="tel:+37125606812">(+371) 25606812</a></p>

          <h6><i class="bi bi-envelope-open"></i> E-pasts:</h6>
          <p><a href="mailto:dagnispalsis@gmail.com">Spied šeit</a></p>
          </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-5 mb-4 mb-md-0 " >
      <div id="text-4" class="footer-widget widget_text clr text-lg-left text-xl-left text-md-left">
        <h4 class="widget-title"><i class="bi bi-clock-history"></i> Darba laiks</h4>			
          <div class="textwidget">
          <p>Pirmdiena: 9:00 &#8211; 17:00<br />
            Otrdiena: 9:00 &#8211; 17:00<br />
            Trešdiena: 9:00 &#8211; 17:00<br />
            Ceturtdiena: 9:00 &#8211; 17:00<br />
            Piektdiena: 9:00 &#8211; 17:00<br />
            Sestdiena, Svētdiena: SLĒGTS</p>
          </div>
      </div>
      </div>

      <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="bi bi-facebook"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="bi bi-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><span class="iconify" data-icon="simple-icons:tiktok" data-inline="false"></span></a>
      </section>
    </div>
    </div>
</div>

<div class="container-fluid">
 <div class="row">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2154.132232809814!2d25.303877815741775!3d57.32266807729319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ebe174426fcf2f%3A0x212f0d571fa2e797!2zUm9iZcW-dSBpZWxhIDYsIEPEk3NpcywgQ8STc3UgcGlsc8STdGEsIExWLTQxMDE!5e0!3m2!1slv!2slv!4v1622052704693!5m2!1slv!2slv" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>
	</div>
</div>

  <!-- Copyright -->

  <footer class="bg-dark text-center text-white">
  {# <button type="button" class="btn btn-dark" onclick="window.location.href='/users'" style="background-color:#555555;">PIEVIENOJIES KATALOGAM ŠEIT</button> #}

  <div class="text-center p-3" style="background-color:#3b3b3b;">
    © 2022:
    <a class="text-white" href="http://localhost/cesugaraza1/admin.php">Dagnis Palsis</a>
    <a class="btn btn-outline-light btn-floating m-1" href="/login" role="button"><i class="bi bi-wrench-adjustable"></i></a>
  </div>
  <!-- Copyright -->
</footer>

</footer>
