<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-expand-sm  navbar-dark fixed-top navbar-custom">
  <a class="navbar-brand" href="/users">DP Autoserviss</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#section1">Sākums</a>
      <a class="nav-link" data-toggle="modal" data-target="#ServisaAp">Pieteikšanās servisam</a>
      <!-- <a class="nav-link" data-toggle="modal" data-target="#VesturePog">Auto vēsture</a> -->
      <a class="nav-item nav-link" href="#section2">Par mums</a>
      <a class="nav-item nav-link" href="#section3">Kontakti</a>
    </div>
  </div>
</nav>